 
              <div   >
              
             
                <mat-card class="example-card card shadow-none border radius-15"*ngIf="app.isValid">
              
                  <mat-card-title-group >
                   
                    <mat-card-title > <i>
                      <img class="rounded-circle z-depth-2" alt="100x50" src="{{fileUrl+app.logo}}" width="15%"
                      data-holder-rendered="true"> {{app.email}}</i></mat-card-title><br>
                  <br>
              <i class="fas fa-check-double"  aria-hidden="true" style="color: #0061f2" aria-hidden="true"  (click)="affecter()"></i>
                  
                  
                  </mat-card-title-group>
                 
  
                
                </mat-card>
                </div>
